name: ci
on:
  # We run the CI checks on any pull request updates or pushes to the main branch after PR merge.
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  test-code:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code in current PR branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Run Go Vet
        run: go vet ./...    
      - name: Run Go Tests
        run: go test ./... -cover -race
      - name: Build binary
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser
          version: '~> v2'
          args: build --snapshot
      - name: Install license check tool
        run: go install github.com/google/addlicense@dc31ac9ffcca99c9457226366135701794b128c0
      - name: Check licenses
        run: addlicense -l apache -check -v -ignore '**/*.yaml' -c 'The Score Authors' ./cmd ./internal/
  test-multi-arch-build:
    uses: docker/github-builder/.github/workflows/build.yml@c767551a26459c30e1f683df73a12fdb918f7068 # v1.0.0
    if: ${{ !github.event.pull_request.head.repo.fork }}
    with:
      output: image
      push: false
      platforms: linux/amd64,linux/arm64
      sbom: true
      context: .
      set-meta-labels: true
      set-meta-annotations: true
      meta-images: |
        my-sample-workload
      meta-tags: |
        type=ref,event=pr
    secrets:
      registry-auths: |
        - username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
  test-container:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: ${{ !github.event.pull_request.head.repo.fork }}
    steps:
      - name: checkout code in current PR branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Set up Docker
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 # v4.7.0
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          version: latest
      - name: docker login docker.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: docker login dhi.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build container image from PR branch
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: mode=max
          sbom: true
          tags: score-compose:pr-${{ github.event.number }}
      - name: docker images
        run: |
          docker images
      - name: checkout code in main branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: main
      - name: Build container image from main branch
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: mode=max
          sbom: true
          tags: score-compose:main
      - name: docker images
        run: |
          docker images
      - name: Docker Scout Comparison between main branch and current PR branch
        uses: docker/scout-action@f8c776824083494ab0d56b8105ba2ca85c86e4de # v1.18.2
        with:
          command: compare
          image: local://score-compose:pr-${{ github.event.number }}
          to: local://score-compose:main
          write-comment: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          organization: ${{ secrets.DOCKER_HUB_ORG }}
      - name: Test docker image built in PR branch
        run: |
          mkdir test
          sudo chown -R 65532:65532 test/
          cd test
          docker run --rm score-compose:pr-${{ github.event.number }} --version
          docker run -v .:/score-compose --rm score-compose:pr-${{ github.event.number }} init
          cat score.yaml
