name: release

on: [push]

permissions:
  contents: write

jobs:
  
  test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: Fetch all tags
        run: git fetch --force --tags
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      -
        name: Run Go Tests
        run: go test ./... -cover -race

      -
        name: Build executable for e2e tests
        run: go build -buildmode exe -o ./e2e-tests/score-compose ./cmd/score-compose

      -
        name: Copy examples into e2e-tests
        run: cp -r ./examples ./e2e-tests

      -
        name: Run e2e tests
        uses: joonvena/robotframework-docker-action@v1.1
        with:
          robot_tests_dir: e2e-tests
          robot_options: |
            -v SCORE_COMPOSE_EXEC:../tests/score-compose
            -v RESOURCES_DIR:../tests/resources/
            -v EXAMPLES_DIR:../tests/examples/
          robot_runner_image: registry.humanitec.io/qa-public/score-test-runner:latest
          # The test runner image is maintained here: https://github.com/score-spec/docker-robot-framework
      -
        name: Upload test results
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: reports
          path: ${{ github.workspace }}/reports

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: Fetch all tags
        run: git fetch --force --tags
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}
